<!-- <hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p> -->
<div>
  <app-home></app-home>
  <p>
    Start editing to see some magic happen :)
  </p>
</div>